<?xml version="1.0" encoding="UTF-8"?>
<!-- TODO comments, header -->
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="io.cozy.plugins.listlibraryitems" version="1.0.0">
	<name>Library Items List Plugin</name>
	<description>
		Plugin to list the phone's library items (pictures, videos, audio...)
	</description>

	<license>AGPL v3</license>
	<keywords>cordova, plugin, library, android, ios</keywords>
	<repo>https://github.com/maestun/cordova-plugin-list-library-items.git</repo>
	<issue>https://github.com/maestun/cordova-plugin-list-library-items.git/issues</issue>

	<js-module src="www/ListLibraryItems.js" name="ListLibraryItems">
		<clobbers target="cordova.plugins.listLibraryItems" />
	</js-module>

	<!-- iOS -->
	<platform name="ios">
		<config-file target="config.xml" parent="/*">
			<feature name="ListLibraryItems">
				<param name="ios-package" value="ListLibraryItems"/>
			</feature>
		</config-file>
		<preference name="PHOTO_LIBRARY_USAGE_DESCRIPTION" default=" "/>
        <config-file target="*-Info.plist" parent="NSPhotoLibraryUsageDescription">
            <string>This app requires access to the photo library.</string>
        </config-file>
		<header-file src="src/ios/ListLibraryItems.h"/>
		<source-file src="src/ios/ListLibraryItems.m"/>
	</platform>

	<!-- Android -->
	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="ListLibraryItems">
				<param name="android-package" value="io.cozy.plugins.ListLibraryItems"/>
			</feature>
		</config-file>
		<source-file src="src/android/io/cozy/plugins/ListLibraryItems.java" target-dir="src/io/cozy/plugins/"/>
	</platform>
</plugin>